.brandParagraphMargin{
    margin: 30px 0px 30px 0px;
}

.visionBg{
    background: #fff;
    padding: 40px 0px 0px 0px;
}

.missionTextBigger {
    margin-top: 20px;
    font-weight: 900;
    font-size: 210px;
    color: #f0f2f3;
    text-transform: uppercase;
}